<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="AdminController as vm" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 ng-if="!vm.isSupplier()">
            Tambah/Ubah Admin
        </h1>
        <h1 ng-if="vm.isSupplier()">
            Tambah/Ubah Supplier
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="admin"><i class="fa fa-dashboard"></i> List Admin </a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <!-- left column -->
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submit()">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="exampleInputEmail1">Nama*</label>
                            <input type="text" required class="form-control" id="name" name="name" ng-model="vm.data.name" placeholder="Enter Name" value>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleInputEmail1">No. HP*</label>
                            <input type="text" required class="form-control" id="phone" name="phone" ng-model="vm.data.phone" placeholder="Enter Phone Number" value>
                        </div>
                        <div>
                            <div class="form-group col-sm-12">
                                <label>Alamat</label>
                                <textarea class="form-control" id="address" rows="3" placeholder="Enter Address ..." ng-model="vm.data.address"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Kota*</label>
                            <select required class="form-control select2" id="city" ng-model="vm.data.city_id" ng-select2 placeholder="Pilih Kota">
                                <option></option>
                                <option ng-repeat="x in vm.cities | orderBy:name:false" value="{{ (x.id) }}">{{ x.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12" ng-if="!vm.isSupplier()">
                            <label for="exampleInputEmail1">Username*</label>
                            <input type="text" required class="form-control" id="username" ng-model="vm.data.username" placeholder="Enter Username">
                        </div>
                        <div class="form-group col-sm-12" ng-if="!vm.isSupplier()">
                            <label for="exampleInputEmail1">Email*</label>
                            <input type="email" required class="form-control" id="email" ng-model="vm.data.email" placeholder="Enter Email">
                        </div>
                        <div class="form-group col-sm-12" ng-if="vm.isAdmin()">
                            <label>Jabatan*</label>
                            <select required class="form-control" id="role" ng-model="vm.data.role_id" placeholder="Pilih Jabatan" ng-select2>
                                <option></option>
                                <option ng-repeat="x in vm.roles | orderBy:name:false" value="{{ (x.id) }}">{{ x.label }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12" ng-if="!vm.isSupplier()">
                            <label for="exampleInputPassword">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter Password" ng-model="vm.data.password" minlength="6">
                        </div>
                        <div class="form-group col-sm-12" ng-if="!vm.isSupplier()">
                            <label for="exampleInputUlangPassword">Ulangi Password</label>
                            <input type="password" class="form-control" id="ulangi_password" placeholder="Enter Password" ng-model="vm.data.confirm_password" minlength="6">
                        </div>
                    </div>
                    <!-- ./row -->
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="vm.create()">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </form>
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>            
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->