<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Detail Checklist
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="project"><i class="fa fa-dashboard"></i> List Project</a></li>
            <li><a ui-sref="project-detail({id : vm.data.project_id})"><i class="fa fa-dashboard"></i> Detail Project</a></li>
            <li class="active">Detail Checklist</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                        <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Project: {{ vm.project.name }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">                  
                                        <tr>
                                            <!-- <th ng-click="vm.sortBy('label')">Name <span class="sortorder" ng-show="vm.propertyName === 'label'" ng-class="{reverse: vm.reverse}"></span></th> -->
                                         
                                            <th>Keterangan</th>
                                            <th>Posisi</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr ng-repeat="x in vm.data.detail">
                                            <td>
                                                <span ng-show="!x.is_edit">{{ x.name }}</span>
                                                <input ng-show="x.is_edit" ng-model="x.name">
                                            </td>
                                            <td>
                                                <span ng-show="!x.is_edit">{{ x.position }}</span>
                                                <input ng-show="x.is_edit" ng-model="x.position">
                                            </td>
                                            <td class="text-center">
                                                <!-- Cancel and save button show when edit-->
                                                <div ng-show="x.is_edit">
                                                    <button type="button" class="btn btn-default" title="Batal" ng-click="x.is_edit = false; x = vm.temp;">Batal</button>
                                                    <button type="button" class="btn btn-primary" title="Ubah Data" ng-click="x.is_edit = false; vm.temp = x">Simpan</button>
                                                </div>

                                                <!-- Edit and delete button -->
                                                <div ng-show="!x.is_edit">
                                                    <button type="button" class="btn btn-primary" title="Ubah Data" ng-click="x.is_edit = true"><i class="fa fa-pencil"></i></button>
                                                    <button class="btn btn-danger" ng-confirm-click="Semua checklist yang sudah dicentang oleh divisi lain akan terhapus juga" confirmed-click="vm.delete(x)"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary" title="Tambah Data" ng-click="vm.add()"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="vm.create()">Batal</button>
                            <button type="submit" class="btn btn-primary" ng-click="vm.submit()">Simpan</button>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->