<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Tambah/Detail Invoice
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="invoice"><i class="fa fa-dashboard"></i> List Invoice</a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
          <div class="nav-tabs-custom" id="tabs">
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <ul class="nav nav-tabs pull-right">
              <li ng-if="vm.isApproved() && main.ac.hasAccess('invoice_payment_list')"><a href="javascript:void(0)" data-toggle="tab" ng-click="vm.openTab('pembayaran')">Pembayaran</a></li>
              <li class="active"><a href="javascript:void(0)" data-toggle="tab" ng-click="vm.openTab('invoice')">Invoice</a></li>
              <li class="pull-left header"><i class="fa fa-th"></i> {{ vm.tabTitle }}</li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="invoice" ng-show="vm.invoice">
                <form role="form" id="formInvoice" name="formInvoice" ng-submit="formInvoice.$valid && vm.submit()">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-right">
                            <button type="button" ng-if="vm.data.id" class="btn btn-primary" ng-click="vm.download(vm.data.id)"><i class="fa fa-print"></i> Print</button>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="exampleInputEmail1">No. Ref</label>
                        <input type="text" class="form-control" id="ref_no" placeholder="Enter No. Ref" ng-model="vm.data.ref_no">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Project</label> <a ng-if="vm.data.project_id != ''" ui-sref="project-detail({id : vm.data.project_id})" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                        <select class="form-control select2" id="project" ng-model="vm.data.project_id" ng-select2 placeholder="Pilih Project">
                            <option></option>
                            <option ng-repeat="x in vm.projects | orderBy:'name':false" value="{{ (x.id) }}">{{ x.name }}</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Tanggal</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control datepicker pull-right" ng-datetime-picker id="tanggal" ng-model="vm.data.created">
                        </div>
                    </div>
                    <div class="form-group col-sm-6" ng-if="vm.data.id && main.ac.hasAccesses(['invoice_change_status', 'invoice_mandor_vendor_change_status'])">
                        <label for="exampleInputEmail1">Status </label>
                        <br>
                        <button type="button" class="btn btn-success" ng-confirm-click="Invoice akan disetujui. Apakah anda yakin?" confirmed-click="vm.setApproved(vm.data.id)" ng-disabled="vm.data.status.name == 'approve'">Terima</button>
                        <button type="button" class="btn btn-default" ng-confirm-click="Invoice akan diubah menjadi draft. Apakah anda yakin?" confirmed-click="vm.setStatus(vm.data.id, 'draft')" ng-disabled="vm.data.status.name == 'draft'" >Draft</button>
                        <button type="button" class="btn btn-warning" ng-confirm-click="Invoice akan diajukan. Apakah anda yakin?" confirmed-click="vm.setStatus(vm.data.id, 'pending')" ng-disabled="vm.data.status.name == 'pending'" >Diajukan</button>
                        <button type="button" class="btn btn-danger"  ng-confirm-click="Invoice akan ditolak. Apakah anda yakin?" confirmed-click="vm.setDeclined(vm.data.id)" ng-disabled="vm.data.status.name == 'decline'">Tolak</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                            <div class="row invoice-info">
                                    <div class="col-sm-4 invoice-col">
                                        Kepada Yth,
                                      <address>
                                        <strong>{{vm.data.name}}</strong><br>
                                        {{vm.data.address}}<br>
                                        {{vm.data.hp}}<br>
                                      </address>
                                    </div>
                                    <!-- /.col -->
                                  </div>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Keterangan</th>
                                    <th>Jumlah</th>
                                    <th ng-if="vm.isDraft() || vm.isDecline()">Action</th>
                                </tr>
                                <tr ng-repeat="x in vm.data.detail">
                                    <td>{{ $index+1 }}</td>
                                    <td>{{ x.notes }}</td>
                                    <td>{{ x.amount | currency:"Rp. ":0 }}</td>
                                    <td ng-if="vm.isDraft() || vm.isDecline()">
                                        <center>
                                            <button type="button" class="btn btn-warning" ng-scroll-to="#jobs" ng-click="vm.editJob(x)"><i class="fa fa-pencil"></i></button>
                                            <button type="button" class="btn btn-danger" ng-click="vm.deleteJob(x)"><i class="fa fa-trash"></i></button>
                                        </center>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-right text-bold">Total</td>
                                    <td><b>{{ vm.total | currency:"Rp. ":0 }}</b></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button ng-if="vm.isDraft() || vm.isDecline()" type="button" ng-scroll-to="#jobs" ng-click="vm.newJob();" class="btn btn-primary">Tambah</button>
                        <div class="pull-right">
                            <button ng-if="vm.isDraft() || vm.isDecline()" type="button" class="btn btn-default" ng-click="vm.create()" >Batal</button>
                            <button ng-if="vm.isDraft() || vm.isCreate() || vm.isDecline()" type="submit" form="formInvoice" class="btn btn-primary">Simpan Sebagai Draft</button>
                            <button ng-if="vm.isDraft() || vm.isCreate() || vm.isDecline()" type="submit" form="formInvoice" class="btn btn-primary" ng-click="vm.sendToManager = 1">Simpan & Ajukan</button>

                            <button ng-if="vm.isPending() && !vm.isCreate() && main.ac.hasAccess('invoice_change_status')" type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setApproved(vm.data.id)">Terima</button>
                            <button ng-if="vm.isPending() && !vm.isCreate() && main.ac.hasAccess('invoice_change_status')" type="button" class="btn btn-danger" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setDeclined(vm.data.id)">Tolak</button>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane active" id="pembayaran" ng-show="vm.pembayaran">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Tgl</th>
                                    <th>Bank</th>
                                    <th>No. Rek</th>
                                    <th>Keterangan</th>
                                    <th>Jumlah</th>
                                    <th ng-if="main.ac.hasAccess('invoice_payment_create') ||
                                                main.ac.hasAccess('invoice_payment_delete')">Action</th>
                                </tr>
                                <tr ng-repeat="x in vm.payments">
                                    <td>{{ x.created }}</td>
                                    <td>{{ x.bank }}</td>
                                    <td>{{ x.account_number }}</td>
                                    <td>{{ x.notes }}</td>
                                    <td>{{ x.amount | currency:"Rp. ":0 }}</td>
                                    <td ng-if="main.ac.hasAccess('invoice_payment_create') ||
                                                main.ac.hasAccess('invoice_payment_delete')" class="text-center">
                                        <button ng-if="main.ac.hasAccess('invoice_payment_create')" type="button" class="btn btn-warning" ng-scroll-to="#payments" ng-click="vm.editPayment(x.id)"><i class="fa fa-pencil"></i></button>
                                        <button ng-if="main.ac.hasAccess('invoice_payment_delete')" class="btn btn-danger" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.deletePayment(x.id)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-if="main.ac.hasAccess('invoice_payment_create')">
                        <button type="button" ng-scroll-to="#payments" ng-click="vm.newPayment();" class="btn btn-primary">Tambah Pembayaran</button>
                    </div>
                </div>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
        </div>

        <div class="box" id="jobs" ng-if="(vm.isDraft() || vm.isDecline()) &&
                    main.ac.hasAccess('invoice_create')" ng-show="vm.invoice">
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <div class="box-header">
                <h3 class="box-title">Tambah/Edit Keterangan</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <form role="form" id="formJob" name="formJob" ng-submit="formJob.$valid && vm.addJob()">
                        <div class="form-group col-sm-12">
                            <label for="exampleInputEmail1">Keterangan</label>
                            <input required type="text" class="form-control" id="keterangan" placeholder="Enter Keterangan" ng-model="vm.tempJob.notes">
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleInputEmail1">Jumlah</label>
                            <input required type="text" class="form-control" id="jumlah" placeholder="Enter Jumlah" ng-model="vm.tempJob.amount">
                        </div>
                    </form>
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="vm.newJob();">Batal</button>
                            <button type="submit" form="formJob" class="btn btn-primary">Tambah</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box" id="payments" ng-if="vm.isApproved() && main.ac.hasAccess('invoice_payment_create')" ng-show="vm.pembayaran">
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <div class="box-header">
                <h3 class="box-title">Tambah/Edit Pembayaran</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <form role="form" id="formPayments" name="formPayments" ng-submit="formPayments.$valid && vm.submitPayments()">
                        <div class="form-group col-sm-4">
                            <label>Tanggal*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datepicker pull-right" id="created" ng-model="vm.payment.created" ng-datetime-picker required autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Bank*</label>
                            <select class="form-control select2" ng-model="vm.payment.bank_category_id" ng-options="c.id as c.label for c in vm.banks  | orderBy:name:false" id="bank" name="bank" placeholder="Pilih Bank" style="width:100%" required></select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="exampleInputEmail1">No. Rekening*</label>
                            <input type="text" class="form-control" id="noPenawaran" placeholder="Enter No Rekening" ng-model="vm.payment.account_number" required>
                        </div>
                        <div class="form-group col-sm-12">
                        <label for="exampleInputEmail1">Jumlah*</label>
                        <div class="input-group">
                            <span class="input-group-addon">Rp.</span>
                            <input type="text" class="form-control" placeholder="Jumlah" ng-model="vm.payment.amount" required>
                        </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Keterangan</label>
                            <textarea class="form-control" rows="7" id="notes" placeholder="Enter Keterangan ..." ng-model="vm.payment.notes"></textarea>
                        </div>
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="vm.create()">Batal</button>
                            <button type="submit" class="btn btn-primary" ng-scroll-to="#tabs">Tambah</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->