<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ vm.titleRole }}
            <a ng-if="main.ac.hasAccess(vm.getPermission('create'))" href="#!/item/create/{{ vm.role }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> List Bahan</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Pencarian</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form" class="form" ng-submit="vm.doSearch()">
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label for="exampleInputEmail1">Kata Kunci</label>
                                    <input type="text" class="form-control" id="keyword" placeholder="Enter Kata Kunci" ng-model="vm.search.keyword">
                                </div>
                            </div>
                            <!-- /.row -->
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.doSearch()">Clear</button>
                                <button type="submit" class="btn btn-primary">Cari</button> 
                            </div>
                        </form>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" ng-class="{'disabled': vm.ls.get('export').get()}" ng-click="vm.export()"><i class="fa fa-file-excel-o"></i> Export XLS <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('export').get()"></i></button>
                            <button type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('download').get()}" ng-click="vm.download()"><i class="fa fa-file-excel-o"></i> Download XLS(Sample) <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('download').get()"></i></button>
                            <input type="file" name="file" id="file" class="hide" ng-model="vm.fileImport" ng-file="vm.import()" multiple>
                            <label for="file" class="btn btn-primary" ng-class="{'disabled': vm.ls.get('import').get()}"><i class="fa fa-file-excel-o"></i> Import XLS <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('import').get()"></i></label>
                        </div>
                        <hr class="col-sm-12"></hr>
                        <div class="col-sm-12">
                        <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                        </div>
                        <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>No. Ref</th>
                                    <th ng-click="vm.sortBy('name')">Nama <sortable order="vm.getOrderBy('name')"></sortable></th>
                                    <th>Supplier</th>
                                    <th ng-click="vm.sortBy('price')">Harga <sortable order="vm.getOrderBy('price')"></sortable></th>
                                    <th>Satuan</th>
                                    <th ng-if="main.ac.hasAccess(vm.getPermission('delete')) ||
                                                main.ac.hasAccess(vm.getPermission('detail'))">Action</th>
                                </tr>
                                <tr ng-repeat="x in vm.list">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ x.ref_no }}</td>
                                    <td>{{ x.name }}</td>
                                    <td>{{ x.user_name }}</td>
                                    <td>{{ x.price | currency:"Rp. ":0}}</td>
                                    <td>{{ x.unit }}</td>
                                    <td ng-if="main.ac.hasAccess(vm.getPermission('delete')) ||
                                                main.ac.hasAccess(vm.getPermission('detail'))" class="text-center">
                                        <a ng-if="main.ac.hasAccess(vm.getPermission('detail'))" href="#!/item/detail/{{ vm.role }}/{{ x.id }}">
                                            <button type="button" class="btn btn-warning" title="Ubah Data">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </a>
                                        <button ng-if="main.ac.hasAccess(vm.getPermission('delete'))" class="btn btn-danger" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.delete(x.id)"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                    <div class="box-footer">
                        <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                    </div>
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->