<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Centang Permission
            </h1>
            <ol class="breadcrumb">
                <li><a ui-sref="jabatan"><i class="fa fa-dashboard"></i> List Jabatan</a></li>
                <li class="active">Centang Permission</li>
            </ol>
        </section>
    
        <!-- Main content -->
        <section class="content container-fluid">
    
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        
                        <div class="box-body">
                            <div class="row">
                                
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">                  
                                            <tr>
                                                <th>Keterangan</th>
                                                <th>Action</th>
                                            </tr>
                                            <tr ng-repeat="x in vm.data">
                                                <td>
                                                    <span>{{ x.label }}</span>
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" id="is_checked" ng-model="x.is_checked" value="1" ng-checked="x.is_checked" ng-change="vm.add(x)">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="vm.create()">Batal</button>
                                <button type="submit" class="btn btn-primary" ng-click="vm.submit()">Simpan</button>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->