<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            List Mutasi
        </h1>
        <ol class="breadcrumb">
            <li class="active">List Mutasi</li>
        </ol>
    </section>
    
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    <div class="box-header with-border">
                        <h3 class="box-title">Pencarian</h3>
                    </div>
                        <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <form role="form" class="form" ng-submit="vm.doSearch()">
                                <div class="form-group col-sm-12">
                                    <label for="exampleInputEmail1">Kata Kunci</label>
                                    <input type="text" class="form-control" id="keyword" placeholder="Kata Kunci" ng-model="vm.search.keyword">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="exampleInputEmail1">Tgl (Dari)</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datepicker pull-right" id="date-from" ng-datetime-picker ng-model="vm.search.date_from" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="exampleInputEmail1">Tgl (Ke)</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datepicker pull-right" id="date-to" ng-datetime-picker ng-model="vm.search.date_to" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Bahan</label>
                                    <select class="form-control" id="item" ng-model="vm.search.item" placeholder="Pilih Jenis" ng-select2>
                                        <option value="">Semua</option>
                                        <option ng-repeat="x in vm.items | orderBy:name:false" value="{{ x.id }}">{{ x.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Jenis</label>
                                    <select class="form-control" id="type" ng-model="vm.search.type" placeholder="Pilih Jenis" ng-select2>
                                        <option value="">Semua</option>
                                        <option ng-repeat="x in vm.types | orderBy:name:false" value="{{ x.name }}">{{ x.name }}</option>
                                    </select>
                                </div>
                                <div class="col-sm-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.search.date_from = ''; vm.search.date_to = ''; vm.search.item = ''; vm.search.type = ''; vm.doSearch()">Clear</button>
                                    <button type="submit" class="btn btn-primary">Cari</button> 
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                    <div class="box-body">
                        <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Tanggal</th>
                                    <th>Nama Bahan</th>
                                    <th>Debit</th>
                                    <th>Kredit</th>
                                    <th style="width: 200px">Action</th>
                                </tr>
                                <tr ng-repeat="x in vm.list">
                                    <td>{{ x.created }}</td>
                                    <td>{{ x.name }}</td>
                                    <td><span ng-if="x.qty >= 0">{{ x.qty }}</span></td>
                                    <td><span ng-if="x.qty < 0">{{ x.qty }}</span></td>
                                    <td class="text-center">
                                        <a ui-sref="transfer-detail({id : x.id})">
                                            <button type="button" class="btn btn-warning" title="Ubah Data">
                                            <i class="fa fa-pencil"></i>
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->