  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ng-controller="QuotationController as vm" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Detail Penawaran
        <span class="text-bold text-yellow">{{ vm.data.status.label }}</span>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#!/quotation/list"><i class="fa fa-dashboard"></i> List Penawaran</a></li>
        <li class="active">Detail</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <!-- general form elements -->
        <div class="box">
          <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
          <!-- form start -->
          <form role="form" id="formQuotation" name="formQuotation" ng-submit="formQuotation.$valid && vm.submit()">
            <div class="box-body">
              <div class="row">
              <div class="form-group col-sm-12">
                <div class="text-right" ng-if="!vm.isCreate()">
                  <button type="button" class="btn btn-primary" ng-class="{'disabled': vm.ls.get('print').get()}" ng-click="vm.download(vm.data.id, '0')"><i class="fa fa-print"></i> Print <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('print').get()"></i></button>
                  <button type="button" class="btn btn-primary" ng-class="{'disabled': vm.ls.get('print').get()}" ng-click="vm.download(vm.data.id, '1')"><i class="fa fa-print"></i> Print(Customer) <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('print').get()"></i></button>
                </div>
<!--                 <div class="text-left">
                  <label for="exampleInputEmail1">Status</label> <span class="text-bold text-yellow">{{ vm.data.status.label }}</span>
                </div> -->
              </div>
              <div class="form-group col-sm-12" ng-if="vm.data.project.id">
                  <label for="exampleInputEmail1">Nama Project : </label>
                  <span for="exampleInputEmail1"><a ui-sref="project-detail({id: vm.data.project.id})">{{ vm.data.project.name }}</a></span>
              </div>
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">No. Penawaran</label>
                <input type="text" class="form-control" id="noPenawaran" placeholder="Enter No Penawaran" ng-model="vm.data.ref_no">
              </div>
              <div class="form-group col-sm-12">
                <div class="row">
                <label class="col-sm-12">List Revisi</label>
                <div ng-repeat="rev in vm.data.revisions">
                    <a ng-if="vm.data.id != rev.id" ui-sref="quotation-detail({id: rev.id})">
                        <span class="col-sm-12">{{ rev.name }}</span>
                    </a>
                    <span ng-if="vm.data.id == rev.id" class="col-sm-12">{{ rev.name }}</span>
                </div>
                </div>
              </div>
              <div class="form-group col-sm-12" ng-if="vm.data.id">
                <label for="exampleInputEmail1">Status </label>
                <br>
                <button type="button" class="btn btn-success" ng-confirm-click="Quotation ini akan diubah menjadi Approve. Apakah anda yakin ingin melanjutkan?" confirmed-click="vm.setApproved(vm.data.id)" ng-disabled="vm.data.status.name == 'approve'">Terima</button>
                <button type="button" class="btn btn-default" ng-confirm-click="Quotation ini akan diubah menjadi Draft. Apakah anda yakin ingin melanjutkan?" confirmed-click="vm.setDraft(vm.data.id)" ng-disabled="vm.data.status.name == 'draft'" >Draft</button>
                <button type="button" class="btn btn-warning" ng-confirm-click="Quotation ini akan Diajukan. Apakah anda yakin ingin melanjutkan?" confirmed-click="vm.setPending(vm.data.id)" ng-disabled="vm.data.status.name == 'pending'" >Diajukan</button>
                <button type="button" class="btn btn-danger"  ng-confirm-click="Quotation ini akan diubah menjadi Ditolak. Apakah anda yakin ingin melanjutkan?" confirmed-click="vm.setRevision(vm.data.id)" ng-disabled="vm.data.status.name == 'revision'">Tolak</button>
              </div>
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">Pekerjaan</label>
                <input type="text" class="form-control" id="pekerjaan" placeholder="Enter Pekerjaan" ng-model="vm.data.name">
              </div>
              <div class="form-group col-sm-6">
                <label>Customer*</label>
                <select required class="form-control select2" id="customer" ng-model="vm.data.customer_id" ng-select2 placeholder="Pilih Customer" >
                  <option></option>
                  <option ng-repeat="x in vm.customers" value="{{ (x.id) }}">{{ x.name }}</option>
                </select>
              </div>
              <div class="form-group col-sm-6">
                  <label>Kota*</label>
                  <select required class="form-control select2" id="city" ng-model="vm.data.city_id" ng-select2 placeholder="Pilih Kota" >
                      <option></option>
                      <option ng-repeat="x in vm.cities" value="{{ (x.id) }}">{{ x.name }}</option>
                  </select>
              </div>
              <div class="form-group col-sm-12">
                <label>Lokasi</label>
                <textarea class="form-control" rows="7" placeholder="Enter Address ..." ng-model="vm.data.address"></textarea>
              </div>
              <div class="form-group col-sm-4">
              <label>Tanggal Dibuat*</label>
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control datepicker pull-right" ng-datetime-picker id="tanggal-dibuat" ng-model="vm.data.created" autocomplete="off" required>
              </div>
              </div>
              <div class="form-group col-sm-2">
                <label>Profit*</label>
                <div class="input-group">
                    <input type="text" class="form-control"  placeholder="Profit %" ng-model="vm.data.profit" ng-change="vm.changePrice()">
                    <span class="input-group-addon">%</span>
                </div>
              </div>
              <div class="form-group col-sm-2">
                  <label>Faktor Resiko*</label>
                <div class="input-group">
                  <input type="text" class="form-control"  placeholder="Faktor Resiko %" ng-model="vm.data.risk_factor" ng-change="vm.changePrice()">
                    <span class="input-group-addon">%</span>
                </div>
              </div>
              <div class="form-group" ng-class="vm.data.is_tax == '1' ? 'col-sm-2' : 'col-sm-4'">
                  <div class="row">
                      <label class="col-sm-12">PPN<i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('loading-ppn').get()"></i></label>
                      <div class="form-group col-sm-12">
                          <div class="row">
                              <div class="col-sm-6">
                                  <input type="radio" name="optionsRadios" value="1" ng-checked="vm.data.is_tax == 1" ng-model="vm.data.is_tax" ng-change="vm.setPpn()">Ya
                              </div>
                              <div class="col-sm-6">
                                  <input type="radio" name="optionsRadios" value="0" ng-checked="vm.data.is_tax == 0" ng-model="vm.data.is_tax" ng-change="vm.setPpn()">Tidak
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group col-sm-2" ng-show="vm.data.is_tax == '1'">
                  <div class="row">
                      <label class="col-sm-12">PPh<i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('loading-ppn').get()"></i></label>
                      <div class="form-group col-sm-12">
                          <div class="row">
                              <div class="col-sm-6">
                                  <input type="radio" name="pph" value="2" ng-checked="vm.data.pph == 2" ng-model="vm.data.pph" ng-change="vm.setPph()">2%
                              </div>
                              <div class="col-sm-6">
                                  <input type="radio" name="pph" value="4" ng-checked="vm.data.pph == 4" ng-model="vm.data.pph" ng-change="vm.setPph()">4%
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="table-responsive">
                   <table class="table table-bordered">
                      <tr>
                        <td align="right">Total</td>
                        <td width="200px" align="right">{{ vm.priceDetail.total | currency:"Rp. ":2 }}</td>
                      </tr>
                      <tr>
                        <td align="right">DPP</td>
                        <td align="right">{{ vm.priceDetail.dpp | currency:"Rp. ":2 }}</td>
                      </tr>
                      <tr ng-show="vm.data.is_tax == '1'">
                        <td align="right">PPN 10%</td>
                        <td align="right">{{ vm.priceDetail.ppn | currency:"Rp. ":2 }}</td>
                      </tr>
                     <tr ng-show="vm.data.is_tax == '1'">
                        <td align="right">PPh {{ vm.data.pph }}%</td>
                        <td align="right">{{ vm.priceDetail.pph | currency:"Rp. ":2 }}</td>
                      </tr>
                      <tr>
                        <td align="right"><b>Grand Total</b></td>
                        <td align="right"><b>{{ vm.priceDetail.grandTotal | currency:"Rp. ":2 }}</b></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-footer text-right">
              <button ng-if="vm.isPending() && !vm.isCreate()" type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setApproved(vm.data.id)">Terima</button>
              <button ng-if="vm.isPending() && !vm.isCreate()" type="button" class="btn btn-danger" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setRevision(vm.data.id)">Revisi</button>

              <button type="button" ng-if="vm.isRevision() && !vm.isCreate()" class="btn btn-primary" ng-confirm-click="Apakah anda yakin ingin membuat revisi baru ?" confirmed-click="vm.createRevision()" ng-class="{'disabled': vm.ls.get('revision').get()}">Buat Revisi Baru <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('revision').get()"></i></button>
              <button ng-if="vm.isDraft() || vm.isDecline()" type="button" class="btn btn-default" ng-click="vm.create()" >Batal</button>
              <button ng-if="vm.isDraft() || vm.isCreate()" type="submit" form="formQuotation" class="btn btn-primary">Simpan Sebagai Draft</button>
              <button ng-if="vm.isDraft() || vm.isCreate()" type="submit" form="formQuotation" class="btn btn-primary" ng-click="vm.sendToManager = 1">Simpan & Ajukan</button>
            </div>
          </form>
        </div>

<div class="box" ng-if="vm.groups">
  <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
  <div class="box-body">
              <!-- Group Start -->
          <div class="row" ng-repeat="group in vm.groups | orderBy:'name':false">
          <label class="page-header col-sm-12" style="h4">{{ group.name }}</label>
          <div class="col-sm-12">
            <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th style="width: 10px">#</th>
                <th ng-click="vm.sortByAngular('name')">Pekerjaan <div class="pull-right"><i class="fa" ng-class="vm.getIconSort('name')"></i></div></th>
                <th>Satuan</th>
                <th>Qty</th>
                <th>Harga</th>
                <th ng-click="vm.sortByAngular('total')">Total <div class="pull-right"><i class="fa" ng-class="vm.getIconSort('total')"></i></div></th>
                <th ng-if="vm.isDraft()">Action</th>
              </tr>
              <tr ng-repeat="x in group.detail | orderBy:vm.propertyName:vm.reverse">
                <td>{{ $index + 1 }}</td>
                <td>{{ x.name }} <div class="pull-right" ng-if="x.schedule_start != null && x.schedule_finish != null">
                  {{ x.schedule_start }} - {{ x.schedule_finish }}
                </div></td>
                <td>{{ x.unit }}</td>
                <td><input type="text" name="qty" id="qty" ng-model="x.qty" ng-change="vm.countAll()" class="form-control"></td>
                <td>{{ x.price_profit | currency:"Rp. ":2 }}</td>
                <td><b>{{ x.price_profit * x.qty | currency:"Rp. ":2 }}</b></td>
                <td ng-if="vm.isDraft()">
                  <button type="button" class="btn btn-warning" ng-scroll-to="#jobs" ng-click="vm.editJob(x)"><i class="fa fa-pencil"></i></button>
                  <button type="button" class="btn btn-danger" ng-click="vm.deleteJob(x)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              <tr>
                <td colspan="5" class="text-right text-bold">Total</td>
                <td><b>{{ group.total | currency:"Rp. ":2 }}</b></td>
              </tr>
            </table>
          </div>
          </div>
          </div>
          <!-- /Group end -->

          <!-- Button Tambah Pekerjaan -->
          <div class="row" ng-if="vm.isDraft()">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary" ng-scroll-to="#jobs" ng-click="vm.newJob();">Tambah Pekerjaan</button>
            </div>
          </div>
        <!-- /.row -->
        </div>
        <!-- /.box-body -->
      </div>

        <!-- Box Job -->
        <div class="box" id="jobs" ng-if="vm.isDraft()">
          <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
          <div class="box-header with-border">
            <h3 class="box-title">Tambah/Edit Pekerjaan</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
            <div class="box-body">
          <div class="row">
          <form role="form" id="formJob" name="formJob" ng-submit="formJob.$valid && vm.addJob()">
            <div class="form-group col-sm-4">
                <label>Pekerjaan* <a ng-if="vm.tempJob.id" ui-sref="jobs-detail({id : vm.tempJob.id})" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a></label>
                <select class="form-control select2" id="job_id" name="job_id" ng-model="vm.tempJob.item_id" ng-select2 placeholder="Pilih Pekerjaan" ng-change="vm.loadJobDetail(vm.tempJob.item_id)">
                    <option ng-repeat="x in vm.jobs" value="{{ x.id }}">{{ x.name }}</option>
                </select>
            </div>

            <div class="form-group col-sm-4">
              <label for="exampleInputEmail1">Group*</label>
              <input type="text" class="form-control" id="group" placeholder="Enter Group" ng-model="vm.tempJob.group_by" required>
              <button type="button" class="btn btn-default btn-xs" ng-repeat="group in vm.groups | orderBy:'name':false" ng-click="vm.selectGroup(group.name)">{{ group.name }}</button>
            </div>
            <div class="form-group col-sm-2">
              <label for="exampleInputEmail1">Qty*</label>
              <input type="text" class="form-control" id="qty" placeholder="Masukkan Qty" ng-model="vm.tempJob.qty" required>
            </div>
            <div class="form-group col-sm-2">
                <label>Satuan*</label>
                <select class="form-control select2" id="unit" name="unit" ng-model="vm.tempJob.unit" ng-select2 placeholder="Pilih Satuan">
                    <option ng-repeat="x in vm.units" value="{{ x.name }}">{{ x.name }}</option>
                </select>
            </div>
            <div class="col-sm-12">
            <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('job').get()"></i>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>Nama</th>
                        <th>Jenis</th>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th>Harga</th>
                        <th>Total</th>
                    </tr>
                    <tr ng-repeat="x in vm.tempJob.detail">
                        <td>{{ x.name }}</td>
                        <td>{{ x.item_category_name }}</td>
                        <td><input type="text" name="qty_detail" id="qty_detail" ng-model="x.qty" ng-change="vm.countTotalDetail()" class="form-control"></td>
                        <td>{{ x.unit }}</td>
                        <td><input type="text" name="price_detail" id="price_detail" ng-model="x.price" ng-change="vm.countTotalDetail()" class="form-control"></td>
                        <td>{{ x.qty * x.price | currency:"Rp. ":0}}</td>
                    </tr>
                </table>
            </div>
            </div>
            <div class="form-group col-sm-12">
              <div class="text-right text-bold h3">Total : {{ vm.tempJob.price | currency:"Rp. ":0 }}</div>
            </div>
            </form>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

        <div class="box-footer text-right">
            <button type="button" class="btn btn-default" ng-click="vm.newJob();">Batal</button>
            <button type="submit" form="formJob" class="btn btn-primary">Simpan</button>
        </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->