<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"
     ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tambah/Detail Purchase Order
            <!-- <small>Optional description</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="po"><i class="fa fa-dashboard"></i> List PO</a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="nav-tabs-custom"
                     id="tabs">
                    <ul class="nav nav-tabs pull-right">
                        <li ng-if="main.ac.hasAccess('purchase_order_payment_list')"><a href="javascript:void(0)"
                               data-toggle="tab"
                               ng-click="vm.openTab('pembayaran')">Pembayaran </a></li>
                        <li ng-if="main.ac.hasAccess('receipt_list')"><a href="javascript:void(0)"
                               data-toggle="tab"
                               ng-click="vm.openTab('lpb')">LPB</a></li>
                        <li class="active"><a href="javascript:void(0)"
                               data-toggle="tab"
                               ng-click="vm.openTab('po')">PO</a></li>

                        <li class="pull-left header"><i class="fa fa-th"></i>{{ vm.tabTitle }}</li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="po" ng-show="vm.po">
                            <!-- form start -->
                            <form role="form"
                                  id="formPO"
                                  name="formPO"
                                  ng-submit="formPO.$valid && vm.submit()">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="pull-right">
                                                <button ng-if="vm.data.id"
                                                        type="button"
                                                        class="btn btn-primary"
                                                        ng-click="vm.download(vm.data.id)"><i class="fa fa-print"></i>
                                                    Print</button>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-3">No. SP</div>
                                                <label class="col-sm-9">: {{ vm.data.ref_no }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-3">Tanggal</div>
                                                <label class="col-sm-9">: {{ vm.data.created }}</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-3">Project</div>
                                                <label class="col-sm-9">: <a ui-sref="project-detail({id : vm.data.project.id})">{{
                                                        vm.data.project.name }}</a></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-3">PPN <i class="fa fa-refresh fa-spin"
                                                       ng-show="vm.ls.get('loading-ppn').get()"></i></div>
                                                <div class="col-sm-9">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>:</label>
                                                            <input type="radio"
                                                                   name="optionsRadios"
                                                                   value="1"
                                                                   ng-checked="vm.data.is_tax == 1"
                                                                   ng-model="vm.data.is_tax"
                                                                   ng-change="vm.setTax(vm.data.id)">
                                                            Ya
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <input type="radio"
                                                                   name="optionsRadios"
                                                                   value="0"
                                                                   ng-checked="vm.data.is_tax == 0"
                                                                   ng-model="vm.data.is_tax"
                                                                   ng-change="vm.setNonTax(vm.data.id)">
                                                            Tidak
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-3">Status</div>
                                                <label class="col-sm-9">: <small class="label"
                                                           ng-class="vm.data.po_status == 'Open' ? 'bg-yellow' : 'bg-green'">
                                                        {{ vm.data.po_status}}</small> </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th style="width: 10px">#</th>
                                                        <th>Nama</th>
                                                        <th>Qty</th>
                                                        <th>Diterima</th>
                                                        <th>Unit</th>
                                                        <th>Harga</th>
                                                        <th>Sub-Total</th>
                                                    </tr>
                                                    <tr ng-repeat="x in vm.data.detail">
                                                        <td>{{ $index + 1 }}</td>
                                                        <td>{{ x.name }}</td>
                                                        <td class="text-right">{{ x.qty }}</td>
                                                        <td class="text-right"
                                                            ng-class="{'bg-revision' : x.status == 'Draft', 'bg-approve': x.status == 'Approve'}">{{
                                                            x.receive.qty }}</td>
                                                        <td>{{ x.unit }}</td>
                                                        <td class="text-right">{{ x.price | currency:"Rp. ":0 }}</td>
                                                        <td class="text-right">{{ x.qty * x.price | currency:"Rp. ":0
                                                            }}</td>
                                                    </tr>
                                                    <tr ng-if="vm.data.is_tax == 1">
                                                        <td colspan="6"
                                                            class="text-right">Sub-Total</td>
                                                        <td class="text-right">{{ vm.data.total | currency:"Rp. ":0 }}</td>
                                                    </tr>
                                                    <tr ng-if="vm.data.is_tax == 1">
                                                        <td colspan="6"
                                                            class="text-right">PPN 10%</td>
                                                        <td class="text-right">{{ vm.ppn | currency:"Rp. ":0 }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="6"
                                                            class="text-right text-bold"><b>TOTAL</b> </td>
                                                        <td class="text-right"><b>{{ vm.data.total + vm.ppn | currency:"Rp. ":0 }}</b></td>
                                                    </tr>
                                                </table>
                                                <b>Catatan</b>
                                                <textarea class="form-control" id="notes" rows="3" placeholder="Enter Notes ..." ng-model="vm.data.notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </div>
                                <!-- /.box-body -->

                                <div class="box-footer">
                                    <button ng-if="vm.data.id"
                                            type="button"
                                            class="btn btn-warning"
                                            ng-click="vm.setDeclined(vm.data.id)">Jadikan SP</button>
                                    <div class="pull-right">
                                    <a ng-click="vm.create()"
                                        class="btn btn-default">Batal</a>
                                    <a ng-click="vm.submitNotes()"
                                       class="btn btn-primary" ng-disabled="vm.ls.get('loading').get()">Simpan<i ng-if="vm.ls.get('loading').get()" class="fa fa-refresh fa-spin"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane active" id="lpb" ng-show="vm.lpb">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>No. Ref</th>
                                                    <th>Tanggal</th>
                                                    <th ng-if="main.ac.hasAccesses(['receipt_detail', 'receipt_delete'])">Action</th>
                                                </tr>
                                                <tr ng-repeat="x in vm.receipt">
                                                    <td>{{ x.ref_no }}</td>
                                                    <td>{{ x.created }}</td>
                                                    <td ng-if="main.ac.hasAccesses(['receipt_detail', 'receipt_delete'])"><a ng-if="main.ac.hasAccess('receipt_detail')" ui-sref="receipt-detail({id: x.id})">
                                                            <button type="button"
                                                                    class="btn btn-warning"
                                                                    title="Ubah Data">
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </a>
                                                        <button ng-if="main.ac.hasAccess('receipt_delete')" class="btn btn-danger"
                                                                ng-confirm-click="Are you sure to delete this record ?"
                                                                confirmed-click="vm.deleteReceipt(x.id)"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                    <div class="pull-right">
                                    <a ng-if="main.ac.hasAccess('receipt_create')" ui-sref="receipt-create({purchase_order_id : vm.data.id})"
                                       class="btn btn-primary">Buat LPB</a>
                                    </div>
                                </div>
                            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                        </div>
                        <div class="tab-pane active" id="pembayaran" ng-show="vm.pembayaran">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tr>
                                                    <th>Tgl</th>
                                                    <th>Bank</th>
                                                    <th>No. Rek</th>
                                                    <th>Keterangan</th>
                                                    <th class="text-right">Jumlah</th>
                                                    <th ng-if="main.ac.hasAccesses(['purchase_order_payment_detail',
                                                            'purchase_order_payment_delete'])">Action</th>
                                                </tr>
                                                <tr ng-repeat="x in vm.payments">
                                                    <td>{{ x.created }}</td>
                                                    <td>{{ x.bank }}</td>
                                                    <td>{{ x.account_number }}</td>
                                                    <td>{{ x.notes }}</td>
                                                    <td class="text-right">{{ x.amount | currency:"Rp. ":0 }}</td>
                                                    <td class="text-center" ng-if="main.ac.hasAccesses(['purchase_order_payment_detail',
                                                            'purchase_order_payment_delete'])">
                                                        <button ng-if="main.ac.hasAccess('purchase_order_payment_detail')" type="button" class="btn btn-warning" ng-scroll-to="#payments" ng-click="vm.editPayment(x.id)"><i class="fa fa-pencil"></i></button>
                                                        <button ng-if="main.ac.hasAccess('purchase_order_payment_delete')" class="btn btn-danger" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.deletePayment(x.id)"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                    <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('loading-' + x.id).get()"></i>
                                                </tr>
                                                <tr>
                                                        <td colspan="4"
                                                            class="text-right text-bold"><b>TOTAL</b> </td>
                                                        <td class="text-right"><b>{{ vm.totalPayment | currency:"Rp. ":0 }}</b></td>
                                                    </tr>
                                            </table>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-12" ng-if="main.ac.hasAccess('purchase_order_payment_create')">
                                        <button type="button" ng-scroll-to="#payments" ng-click="vm.newPayment();" class="btn btn-primary">Tambah Pembayaran</button>
                                    </div>
                                <!-- <div box-overlay is-loading="vm.ls.get('loading').get()"></div> -->
                            </div>
                          </div>
                    </div>
                </div>
                            <!-- /.box -->
            <div class="box" id="payments" ng-if="vm.isApproved() && main.ac.hasAccesses(['purchase_order_payment_create', 'purchase_order_payment_detail'])" ng-show="vm.pembayaran">
                <div class="box-header">
                    <h3 class="box-title">Tambah/Edit Pembayaran</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <form role="form" id="formPayments" name="formPayments" ng-submit="formPayments.$valid && vm.submitPayments()">
                            <div class="form-group col-sm-4">
                                <label>Tanggal*</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control datepicker pull-right" id="created" ng-model="vm.payment.created" ng-datetime-picker required autocomplete="off" >
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Bank*</label>
                                <select class="form-control select2" ng-model="vm.payment.bank_category_id" ng-options="c.id as c.label for c in vm.banks  | orderBy:name:false" id="bank" name="bank" placeholder="Pilih Bank" style="width:100%" required></select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="exampleInputEmail1">No. Rekening*</label>
                                <input type="text" class="form-control" id="noPenawaran" placeholder="Enter No Rekening" ng-model="vm.payment.account_number" required>
                            </div>
                            <div class="form-group col-sm-12">
                            <label for="exampleInputEmail1">Jumlah*</label>
                            <div class="input-group">
                                <span class="input-group-addon">Rp.</span>
                                <input type="text" class="form-control" placeholder="Jumlah" ng-model="vm.payment.amount" required>
                            </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label>Keterangan</label>
                                <textarea class="form-control" rows="7" id="notes" placeholder="Enter Keterangan ..." ng-model="vm.payment.notes"></textarea>
                            </div>
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="vm.create()">Batal</button>
                                <button type="submit" class="btn btn-primary" >Tambah</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->