<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>List HPP 2</h1>
            <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> List HPP 2</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Pencarian</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form role="form" class="form" ng-submit="vm.doSearch()">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Kata Kunci</label>
                                <input type="text" class="form-control" id="keyword" placeholder="Enter Kata Kunci" ng-model="vm.search.keyword">
                            </div>
                            <div class="text-right">
                                <a ng-if="main.ac.hasAccess('price_plan_change_status')" ui-sref="price-plan-pending({status_page: 'pending'})" class="btn btn-warning pull-left">Lihat Moderasi</a>

                                <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.doSearch()">Clear</button>
                                <button type="submit" class="btn btn-primary">Cari</button> 
                            </div>
                        </form>
                    </div>
                </div>

                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-if="vm.listPending == false">
                                    <button type="button" class="btn btn-primary" ng-click="vm.search.status = ''; vm.doSearch()">Semua</button>
                                    <button type="button" class="btn btn-default" ng-click="vm.search.status = 'draft'; vm.doSearch()">Draft</button>
                                    <button type="button" class="btn btn-success" ng-click="vm.search.status = 'approve'; vm.doSearch()">Terima</button>
                                    <button type="button" class="btn btn-danger" ng-click="vm.search.status = 'decline'; vm.doSearch()">Tolak</button>
                                </div>
                                <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th ng-click="vm.sortBy('ref_no')">No. Ref <sortable order="vm.getOrderBy('ref_no')"></sortable></th>
                                            <th ng-click="vm.sortBy('name')">Pekerjaan <sortable order="vm.getOrderBy('name')"></sortable></th>
                                            <th>Customer</th>
                                            <th>Lokasi</th>
                                            <th>Revisi</th>
                                            <th ng-click="vm.sortBy('created')">Dibuat <sortable order="vm.getOrderBy('created')"></sortable></th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                        <tr ng-repeat="x in vm.list">
                                            <td>{{ x.ref_no }}<small ng-if="vm.listPending != true" class="label pull-right bg-{{x.status.name}}">{{ x.status.label }}</small></td>
                                            <td>{{ x.name }}</td>
                                            <td>{{ x.customer.name }}</td>
                                            <td>{{ x.city.name }}</td>
                                            <td>{{ x.revisi }}</td>
                                            <td>{{ x.created }}</td>
                                            
                                            <td class="text-center">
                                                <span ng-if="vm.listPending == true">
                                                    <button type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('loading-' + x.id).get()}" ng-click="vm.setApproved(x.id)">Terima</button>
                                                    <button type="button" class="btn btn-danger" ng-class="{'disabled': vm.ls.get('loading-' + x.id).get()}" ng-click="vm.setRevision(x.id)">Revisi</button>
                                                </span>
                                                <a ng-if="main.ac.hasAccess('price_plan_detail')" class="btn btn-warning" ui-sref="price-plan-detail({id: x.id})">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('loading-' + x.id).get()"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                    </div>
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->