  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ng-init="vm.init()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        List Project 
        <a ng-if="main.ac.hasAccess('project_create')" ui-sref="project-create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
      </h1>
      <ol class="breadcrumb">
        <li class="active"><a href="#!/project/list"><i class="fa fa-dashboard"></i> List Project</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <div class="box-header with-border">
              <h3 class="box-title">List Project</h3>
            </div>
            <!-- /.box-header -->
              <div class="box-body">
              <div class="row">
              <form role="form" ng-submit="vm.doSearch()">
                <div class="form-group col-sm-6">
                <label>Tanggal (dari)</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" ng-model="vm.search.rangeStart" class="form-control datepicker pull-right" id="tanggal-dari" ng-datetime-picker>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label>Tanggal (ke)</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control datepicker pull-right" id="tanggal-ke" ng-datetime-picker ng-model="vm.search.rangeFinish">
                </div>
              </div>
                <div class="form-group col-sm-12">
                  <label for="exampleInputEmail1">Kata Kunci</label>
                  <input type="text" class="form-control" id="keyword" placeholder="Enter Keyword" ng-model="vm.search.keyword">
                </div>
                <div class="col-sm-12">
                <div class="pull-right">
                  <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.search.rangeStart = ''; vm.search.rangeFinish = ''; vm.doSearch()">Clear</button>
                  <button type="submit" class="btn btn-primary">Cari</button> 
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="box box-primary">
          <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
              <div class="box-body">
              <div class="row">

              <div class="col-sm-12">
                <div class="form-group">
                <label>Pengurutan</label>
                <div class="row">
                <div class="col-sm-6">
                <select class="form-control select2" ng-change="vm.sortBy(vm.filter_by, vm.filter_order_by)" ng-model="vm.filter_by">
                  <option value=""></option>
                  <option value="ref_no">Ref. No</option>
                  <option value="customer">Customer Name</option>
                  <option value="date">Tanggal</option>
                  <!-- <option>Progress</option> -->
                </select>
                </div>
                <div class="col-sm-3">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="asc" ng-model="vm.filter_order_by" ng-change="vm.sortBy(vm.filter_by, vm.filter_order_by)">
                      Asc
                    </label>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" id="optionsRadios1" value="desc" ng-model="vm.filter_order_by" ng-change="vm.sortBy(vm.filter_by, vm.filter_order_by)">
                      Desc
                    </label>
                  </div>
                </div>
                </div>
                </div>
              </div>

              <div class="col-sm-12">
              <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
              </div>

              <div ng-repeat="x in vm.list">
              <hr class="col-sm-12">
              
              <div class="col-sm-12">
                <div class="row">
                  
                  <div class="col-sm-12">
                    <p><b>Project: {{ x.name }}</b></p>
                  </div>

                  <div class="col-sm-6">
                    <p>No: {{ x.ref_no }}</p>
                  </div>
                  
                  <div class="col-sm-6">
                    <p>Tanggal: {{ x.project_start }} - {{ x.project_finish }}</p>
                  </div>
                  
                  <div class="col-sm-6">
                    <p>Customer: {{ x.customer_name }}</p>
                  </div>

<!--                   <div class="col-sm-6">
                    <div class="progress-group">
                    <span class="progress-text">Progress</span>
                    <span class="progress-number"><b>70</b>/100</span>
                    <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                      <span class="sr-only">70% Complete</span>
                    </div>
                    </div>
                  </div>
                  </div> -->

                  <div class="col-sm-12">
                    <div class="text-right">
                      <a ng-if="main.ac.hasAccess('project_detail')" ui-sref="project-detail({id: x.id})" class="btn btn-warning">
                          <i class="fa fa-pencil"></i>
                      </a>
                      <button ng-if="main.ac.hasAccess('project_delete')" type="button" class="btn btn-danger" ng-confirm-click="HPP 1, HPP 2, Invoice, SP, PO, LPB yang berhubungan dengan project ini akan terhapus juga. Apakah anda yakin?" confirmed-click="vm.delete(x.id)"><i class="fa fa-trash"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>

                </div>
                <!-- /.row -->
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
              </div>
          </div>
          <!-- /.box -->
        </div>
    </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->