  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Set HPP 1
      </h1>
      <ol class="breadcrumb">
        <li><a ui-sref="project-detail({id: vm.data.id})"><i class="fa fa-dashboard"></i> Project</a></li>
        <li class="active">Set HPP 1</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div box-overlay is-loading="vm.ls.get('loading-project').get()"></div>
            <div class="box-header with-border">
              <h3 class="box-title">Detail Project</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submit()">
              <div class="box-body">
                <div class="row">
                  <input type="hidden" class="form-control" id="id" ng-model="vm.data.id">
                <div class="form-group col-sm-12">
                      <label for="exampleInputEmail1">Nama Project</label>
                      <input type="text" class="form-control" id="projectName" placeholder="Nama Project" ng-model="vm.data.name">
                </div>
                <div class="form-group col-sm-12">
                <label for="exampleInputEmail1">No. Project</label>
                <input type="text" class="form-control" id="noPenawaran" placeholder="Enter No Project" ng-model="vm.data.ref_no">
              </div>
                <div class="form-group col-sm-6">
                <label>Customer</label>
                <select class="form-control select2" id="customer" name="customer" ng-model="vm.data.customer_id" ng-select2 placeholder="Pilih Customer">
                  <option></option>
                  <option ng-repeat="x in vm.customers" value="{{ (x.id) }}">{{ x.name }}</option>
                </select>
                </div>
                <div class="form-group col-sm-6">
                <label>Kota</label>
                <select class="form-control select2" id="city" ng-model="vm.data.city_id" ng-select2 placeholder="Pilih Kota">
                  <option></option>
                  <option ng-repeat="x in vm.cities | orderBy:name:false" value="{{ (x.id) }}">{{ x.name }}</option>
                </select>
                </div>
                <div class="form-group col-sm-12">
                  <label>Alamat</label>
                  <textarea class="form-control" rows="7" id="address" placeholder="Enter Address ..." ng-model="vm.data.address"></textarea>
                </div>
                <div class="form-group col-sm-6">
                <label>Tanggal (dari)</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control datepicker pull-right" id="tanggal-dari" ng-model="vm.data.start" ng-datetime-picker>
                </div>
              </div>
              <div class="form-group col-sm-6">
                <label>Tanggal (ke)</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control datepicker pull-right" id="tanggal-ke" ng-model="vm.data.finish" ng-datetime-picker>
                </div>
              </div>
                </div>
              </div>
            </form>
          </div>

                  <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>No.</th>
                                            <th ng-click="vm.sortBy('name')">No. Ref <sortable order="vm.getOrderBy('role')"></sortable></th>
                                            <th>Pekerjaan</th>
                                            <th>Customer</th>
                                            <th>Lokasi</th>
                                            <th>Tahun</th>
                                            <th ng-click="vm.sortBy('name')">Tanggal Dibuat <sortable order="vm.getOrderBy('role')"></sortable></th>
                                            <th>Action</th>
                                        </tr>
                                        <tr ng-repeat="x in vm.list">
                                            <td>{{ $index + 1 }}</td>
                                            <td>{{ x.ref_no }}</td>
                                            <td>{{ x.name }}</td>
                                            <td>{{ x.customer.name }}</td>
                                            <td>{{ x.city.name }}</td>
                                            <td>{{ x.year }}</td>
                                            <td>{{ x.created }}</td>
                                            
                                            <td class="text-center">
                                            <button class="btn btn-success" ng-click="vm.setHpp1(x.id)">Set Sebagai HPP 1</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                    </div>
                    <div box-overlay is-loading="vm.ls.get('loading-quotation').get()"></div>
                </div>
                <!-- /.box -->

        </div>
        <!-- col -->
    </div>
    <!-- row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->