  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" ng-init="vm.init()">
    <section class="content-header">
      <h1>
        Ubah Pekerja
      </h1>
      <ol class="breadcrumb">
        <li><a ui-sref="project"><i class="fa fa-dashboard"></i>List Project</a></li>
        <li><a ui-sref="project-detail({id: vm.parent_id})"><i class="fa fa-dashboard"></i>Detail Project</a></li>
        <li class="active"><i class="fa fa-dashboard"></i>List Project</a></li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">

      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
            <div class="box">
              <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <div class="box-body">
            <div class="row">
            <div class="col-xs-12">
            <div class="table-responsive">
                <form id="formWorker" ng-submit="vm.submit()"></form>
              <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Jabatan</th>
                  <th>Nama</th>
                  <th>Action</th>
                </tr>
                <tr ng-repeat="x in vm.list">
                  <td style="width: 10px">{{ $index + 1 }}</td>
                  <td>{{ x.role_name }}</td>
                  <td>
                    <select class="form-control select2" ng-model="x.id">
                      <option ng-repeat="x in vm.users" ng-value="x.id">{{ x.name }}</option>
                    </select>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-danger" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.delete(x)" ng-if="x.id"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </table>
            </div>
              </div>
            </div>
          </div>

              <div class="box-footer">
                    <!-- <a ui-sref="project-detail({id: vm.parent_id})" class="btn btn-default">Kembali</a> -->
                    <div class="text-right">
                        <button type="button" class="btn btn-default" ng-click="vm.init()">Batal</button>
                        <button type="submit" form="formWorker" class="btn btn-primary">Simpan</button>
                    </div>
              </div>
          </div>
          <!-- /.box -->
        </div>
    </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->