<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tambah/Detail Penerimaan
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="receipt"><i class="fa fa-dashboard"></i> List Penerimaan</a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <!-- general form elements -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Detail Penerimaan</h3>
            </div>
            <!-- /.box-header -->
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
            <!-- form start -->
            <form role="form" id="formReceipt" name="formReceipt" ng-submit="formReceipt.$valid && vm.submit()">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-right">
                                <button type="button" ng-if="vm.data.id" class="btn btn-primary" ng-click="vm.download(vm.data.id)"><i class="fa fa-print"></i> Print</button>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>PO* </label><a ng-if="vm.data.purchase_order_id != ''" ui-sref="po-detail({id : vm.data.purchase_order_id})" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i></a>
                            <select required class="form-control select2" ng-model="vm.data.purchase_order_id" ng-change="vm.changePO(vm.data.purchase_order_id)" ng-select2 placeholder="Pilih Purchase Order">
                                <option></option>
                                <option ng-repeat="x in vm.purchases" value="{{ (x.id) }}">{{ x.ref_no }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Tanggal*</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                                </div>
                                <input required type="text" class="form-control datepicker pull-right" id="tanggal" ng-datetime-picker ng-model="vm.data.created">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>No. Ref*</label>
                            <input required type="text" name="ref_no" id="ref_no" class="form-control" ng-model="vm.data.ref_no">
                        </div>
                        <div class="form-group col-sm-6" ng-if="vm.data.id">
                            <label for="exampleInputEmail1">Status</label>
                            <br>
                            <button type="button" class="btn btn-success" ng-confirm-click="SP ini akan diubah menjadi PO. Apakah anda yakin ingin menerima PO ini?" confirmed-click="vm.setApproved(vm.data.id)" ng-disabled="vm.data.status.name == 'approve'">Terima</button>
                            <button type="button" class="btn btn-default" ng-confirm-click="SP ini akan diubah menjadi Draft. Apakah anda yakin ingin melanjutkan?" confirmed-click="vm.setStatus(vm.data.id, 'draft')" ng-disabled="vm.data.status.name == 'draft'" >Draft</button>
                            <button type="button" class="btn btn-warning" ng-confirm-click="SP ini akan Diajukan. Apakah anda yakin ingin melanjutkan?" confirmed-click="vm.setStatus(vm.data.id, 'pending')" ng-disabled="vm.data.status.name == 'pending'" >Diajukan</button>
                            <button type="button" class="btn btn-danger"  ng-confirm-click="SP ini akan diubah menjadi Ditolak. Apakah anda yakin ingin melanjutkan?" confirmed-click="vm.setDeclined(vm.data.id)" ng-disabled="vm.data.status.name == 'decline'">Tolak</button>
                        </div>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Barang</th>
                                        <th>Qty</th>
                                        <th>Unit</th>
                                        <th ng-if="vm.isDraft() || vm.isDecline()">Action</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.data.detail">
                                        <td>{{ $index+1 }}</td>
                                        <td>{{ x.name }}</td>
                                        <td>{{ x.qty }}</td>
                                        <td>{{ x.unit }}</td>
                                        <td ng-if="vm.isDraft() || vm.isDecline()">
                                            <center>
                                                <button type="button" class="btn btn-warning" ng-scroll-to="#item" ng-click="vm.editItem(x)"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-danger" ng-click="vm.deleteItem(x)"><i class="fa fa-trash"></i></button>
                                            </center>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <button ng-if="vm.isDraft() || vm.isDecline()" type="button" class="btn btn-primary" ng-scroll-to="#item" ng-click="vm.newItem();">Tambah</button>
                            <div class="pull-right">
                                <button ng-if="vm.isDraft() || vm.isDecline()" type="button" class="btn btn-default" ng-click="vm.create()" >Batal</button>
                                <button ng-if="vm.isDraft() || vm.isCreate() || vm.isDecline()" type="submit" form="formReceipt" class="btn btn-primary">Simpan Sebagai Draft</button>
                                <button ng-if="vm.isDraft() || vm.isCreate() || vm.isDecline()" type="submit" form="formReceipt" class="btn btn-primary" ng-click="vm.sendToManager = 1">Simpan & Ajukan</button>

                                <button ng-if="vm.isPending() && !vm.isCreate()" type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setApproved(vm.data.id)">Terima</button>
                                <button ng-if="vm.isPending() && !vm.isCreate()" type="button" class="btn btn-danger" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setDeclined(vm.data.id)">Tolak</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.box-body -->
            </form>
        </div>
        <!-- /.box -->
        <div class="box" id="item" ng-if="vm.isDraft() || vm.isDecline()">
            <div class="box-header">
                <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                <div class="box-header">
                    <h3 class="box-title">Tambah/Edit Barang</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <form role="form" id="formItem" name="formItem" ng-submit="formItem.$valid && vm.addItem()">
                            <div class="form-group col-sm-6">
                                <label>Barang</label><i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('loading-item').get()"></i>
                                <select class="form-control" id="item" ng-model="vm.tempItem.item_id" ng-change="vm.changeItem(vm.tempItem.item_id)">
                                    <option ng-repeat="x in vm.items" value="{{ x.item_id }}">{{ x.name }} | {{x.qty}} {{x.unit}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="exampleInputEmail1">Qty</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="vm.tempItem.qty">
                                    <span class="input-group-addon">{{vm.tempItem.unit}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" ng-click="vm.newItem()">Batal</button>
                                    <button type="submit" form="formItem" class="btn btn-primary">Tambah</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->