<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Tambah/Ubah Jabatan
            </h1>
            <ol class="breadcrumb">
                <li><a ui-sref="role"><i class="fa fa-dashboard"></i> List Jabatan </a></li>
                <li class="active">Detail</li>
            </ol>
        </section>
    
        <!-- Main content -->
        <section class="content container-fluid">
            <!-- left column -->
            <!-- general form elements -->
            <div class="box box-primary">
                <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                <!-- form start -->
                <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submitRole()">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label for="index">Index*</label>
                                <input type="text" required class="form-control" id="index" name="index" ng-model="vm.data.name" placeholder="Enter Name" value>
                                Harus unique dan huruf kecil semua. Pisahkan menggunakan '-'. Contoh finance, manager-logistic
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="name">Nama*</label>
                                <input type="text" required class="form-control" id="name" name="name" ng-model="vm.data.label" placeholder="Enter Name" value>
                            </div>
                            <div>
                                <div class="form-group col-sm-12">
                                    <label>Notes</label>
                                    <textarea class="form-control" id="notes" rows="3" placeholder="Enter Notes ..." ng-model="vm.data.notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <!-- ./row -->
                    </div>
                    <!-- /.box-body -->
    
                    <div class="box-footer text-right" ng-if="main.ac.hasAccess('role_create')">
                        <button type="button" class="btn btn-default" ng-click="vm.create()">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
    
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->