<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                List Jabatan
                <a ng-if="main.ac.hasAccess('role_create')" ui-sref="role-create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
            </h1>
            <ol class="breadcrumb">
                <li class="active">List Jabatan</li>
            </ol>
        </section>
    
        <!-- Main content -->
        <section class="content container-fluid">
    
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                        <div class="box-header with-border">
                            <h3 class="box-title">Pencarian</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form role="form" class="form" ng-submit="vm._doSearch()">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Kata Kunci</label>
                                    <input type="text" class="form-control" id="keyword" placeholder="Enter Kata Kunci" ng-model="vm.search.keyword">
                                </div>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.doSearch()">Clear</button>
                                    <button type="submit" class="btn btn-primary">Cari</button> 
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="box box-primary">
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">                  
                                    <tr>
                                        <th ng-click="vm.sortBy('name')">No</th>
                                        <th ng-click="vm.sortBy('name')">Name</th>
                                        <th ng-if="main.ac.hasAccesses(['role_detail', 'role_permission_view'])">Action</th>
                                    </tr>
                                    <tr ng-repeat="x in vm.list">
                                            <td>{{ $index + 1 }}</td>
                                        <td>{{ x.label }}</td>
                                        <td class="text-center">
                                            <div >
                                                <a ng-if="main.ac.hasAccess('role_detail')" ui-sref="role-detail({id: x.id})" class="btn btn-warning">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a ng-if="main.ac.hasAccess('role_permission_view')"class="btn btn-primary" ui-sref="role-set-permission({role_id: x.id})" ><i class="fa fa-key"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->