<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Stock Opname
            <a ng-if="main.ac.hasAccess('opname_stock_create')" ui-sref="stock-opname-create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        </h1>
        <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> List Stock Opname</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Pencarian</h3>
                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <form role="form" class="form" ng-submit="vm.doSearch()">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Kata Kunci</label>
                                <input type="text" class="form-control" id="keyword" placeholder="Enter Kata Kunci" ng-model="vm.search.keyword">
                            </div>
                            <a ui-sref="stock-opname({status: 'pending'})" class="btn btn-warning pull-left">Lihat Moderasi</a>
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.doSearch()">Clear</button>
                                <button type="submit" class="btn btn-primary">Cari</button> 
                            </div>
                        </form>
                    </div>
                </div>

                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-if="vm.listPending == false">
                                    <button type="button" class="btn btn-primary" ng-click="vm.search.status = ''; vm.doSearch()">Semua</button>
                                    <button type="button" class="btn btn-default" ng-click="vm.search.status = 'draft'; vm.doSearch()">Draft</button>
                                    <button type="button" class="btn btn-success" ng-click="vm.search.status = 'approve'; vm.doSearch()">Terima</button>
                                    <button type="button" class="btn btn-danger" ng-click="vm.search.status = 'decline'; vm.doSearch()">Tolak</button>
                                </div>
                                <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th style="width: 100px">#</th>
                                            <!-- <th ng-click="vm.sortBy('name')">Nama <sortable order="vm.getOrderBy('name')"></sortable></th> -->
                                            <th>Project</th>
                                            <th>Tanggal Opname</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr ng-repeat="x in vm.list">
                                            <td>{{ $index + 1 }} <small ng-if="vm.listPending != true" class="label pull-right bg-{{x.status.name}}">{{ x.status.label }}</small></td>
                                            <td><a ui-sref="project-detail({id: x.project_id})">{{ x.project }}</a></td>
                                            <td>{{ x.created }}</td>
                                            <td class="text-center">
                                                <div ng-if="vm.listPending == false">
                                                    <a ui-sref="stock-opname-detail({id: x.id})" class="btn btn-warning">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <button class="btn btn-danger" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.delete(x.id)"><i class="fa fa-trash"></i></button>
                                                </div>
                                                <div ng-if="vm.listPending == true">
                                                    <button ng-if="main.ac.hasAccess('opname_stock_change_status')" type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('loading-' + x.id).get()}" ng-click="vm.setApproved(x.id)">Terima</button>
                                                    <button ng-if="main.ac.hasAccess('opname_stock_change_status')" type="button" class="btn btn-danger" ng-class="{'disabled': vm.ls.get('loading-' + x.id).get()}" ng-click="vm.setDeclined(x.id)">Tolak</button>
                                                    <a class="btn btn-warning" ui-sref="stock-opname-detail({id: x.id})" ng-if="main.ac.hasAccess('opname_stock_detail')">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('loading-' + x.id).get()"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                    </div>
                    <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->