<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.create()">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Tambah/Detail Transfer
                <span class="text-bold text-yellow">{{ vm.data.status.label }}</span>
            </h1>
            <ol class="breadcrumb">
                <li><a ui-sref="transfer"><i class="fa fa-dashboard"></i> List Transfer</a></li>
                <li class="active">Detail</li>
            </ol>
        </section>
    
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Detail Transfer</h3>
                </div>
                <!-- /.box-header -->
                <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                <!-- form start -->
                <form role="form" id="formTransfer" name="formTransfer" ng-submit="formTransfer.$valid && vm.submit()">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="exampleInputEmail1">No. Ref*</label>
                                <input type="text" class="form-control" id="ref_no" placeholder="Enter No. Ref" ng-model="vm.data.ref_no" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Tanggal*</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control datepicker pull-right" id="tanggal" ng-datetime-picker ng-model="vm.data.created" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Project Asal*</label>
                                <select class="form-control select2" ng-model="vm.data.project_id_from" ng-change="vm.changeProject(vm.data.project_id_from)" ng-select2 placeholder="Pilih Project" required>
                                    <option></option>
                                    <option ng-repeat="x in vm.projects" value="{{ x.id }}">{{ x.name }}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Project Tujuan*</label>
                                <select class="form-control select2" ng-model="vm.data.project_id_to" ng-select2 placeholder="Pilih Project" required>
                                    <option></option>
                                    <option ng-repeat="y in vm.projects" value="{{ y.id }}">{{ y.name }}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-12" ng-if="vm.data.id && main.ac.hasAccess('transfer_change_status')">
                                <label for="exampleInputEmail1">Status </label>
                                <br>
                                <button type="button" class="btn btn-success" ng-confirm-click="Transfer akan disetujui. Apakah anda yakin?" confirmed-click="vm.setApproved(vm.data.id)" ng-disabled="vm.data.status.name == 'approve'">Terima</button>
                                <button type="button" class="btn btn-default" ng-confirm-click="Transfer akan diubah menjadi draft. Apakah anda yakin?" confirmed-click="vm.setStatus(vm.data.id, 'draft')" ng-disabled="vm.data.status.name == 'draft'" >Draft</button>
                                <button type="button" class="btn btn-warning" ng-confirm-click="Transfer akan diajukan. Apakah anda yakin?" confirmed-click="vm.setStatus(vm.data.id, 'pending')" ng-disabled="vm.data.status.name == 'pending'" >Diajukan</button>
                                <button type="button" class="btn btn-danger"  ng-confirm-click="Transfer akan ditolak. Apakah anda yakin?" confirmed-click="vm.setDeclined(vm.data.id)" ng-disabled="vm.data.status.name == 'decline'">Tolak</button>
                            </div>
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th style="width: 10px">No.</th>
                                            <th>Barang</th>
                                            <th>Qty</th>
                                            <th>Unit</th>
                                            <th ng-if="vm.isDraft()">Action</th>
                                        </tr>
                                        <tr ng-repeat="x in vm.data.detail">
                                            <td>{{ $index+1 }}</td>
                                            <td>{{ x.name }}</td>
                                            <td>{{ x.qty }}</td>
                                            <td>{{ x.unit }}</td>
                                            <td ng-if="vm.isDraft()" class="text-center">
                                                <button type="button" class="btn btn-warning" ng-scroll-to="#item" ng-click="vm.editItem(x)"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-danger" ng-click="vm.deleteItem(x)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="pull-left">
                                    <button ng-if="vm.isDraft() && main.ac.hasAccess('transfer_create')" type="button" class="btn btn-primary" ng-scroll-to="#item" ng-click="vm.newItem();">Tambah</button>
                                </div>
                                <div class="pull-right">
                                    <div ng-if="main.ac.hasAccess('transfer_change_status')">
                                        <button ng-if="vm.isPending() && !vm.isCreate()" type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setApproved(vm.data.id)">Terima</button>
                                        <button ng-if="vm.isPending() && !vm.isCreate()" type="button" class="btn btn-danger" ng-class="{'disabled': vm.ls.get('loading-' + vm.data.id).get()}" ng-click="vm.setDeclined(vm.data.id)">Tolak</button>
                                    </div>

                                    <button ng-if="vm.isDraft() || vm.isCreate()" type="submit" form="formTransfer" class="btn btn-primary">Simpan Sebagai Draft</button>
                                    <button ng-if="vm.isDraft() || vm.isCreate()" type="submit" form="formTransfer" class="btn btn-primary" ng-click="vm.sendToManager = 1">Simpan & Ajukan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.box -->
            <div class="box" id="item" ng-if="vm.isDraft()">
                <div box-overlay is-loading="vm.ls.get('loading').get()"></div>
                <div class="box-header">
                    <h3 class="box-title">Tambah/Edit Item</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <form role="form" id="formItem" name="formItem" ng-submit="formItem.$valid && vm.addItem()">
                            <div class="form-group col-sm-12">
                                <label>Barang</label> <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('loading-item').get()"></i>
                                <select class="form-control" id="item" ng-model="vm.tempItem.item_id" ng-change="vm.changeBahan(vm.tempItem.item_id)" ng-select2>
                                    <option ng-repeat="x in vm.items" value="{{ x.item_id }}">{{ x.name }} | {{x.qty}} {{x.unit}}</option>
                                </select>
                            </div>
        
                            <div class="form-group col-sm-12">
                                <label>Qty</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="vm.tempItem.qty">
                                    <span class="input-group-addon">{{vm.tempItem.unit}}</span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" ng-click="vm.newJob();">Batal</button>
                                    <button type="submit" form="formItem" class="btn btn-primary">Simpan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper