<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-init="vm.init()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            List Transfer
            <a ng-if="main.ac.hasAccess('transfer_create')" ui-sref="transfer-create" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        </h1>
        <ol class="breadcrumb">
            <li class="active">List Transfer</li>
        </ol>
    </section>
    
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Pencarian</h3>
                    </div>
                        <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <form role="form" class="form" ng-submit="vm.doSearch()">
                                <div class="form-group col-sm-12">
                                    <label for="exampleInputEmail1">Kata Kunci</label>
                                    <input type="text" class="form-control" id="keyword" placeholder="Enter Kata Kunci" ng-model="vm.search.keyword">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="exampleInputEmail1">Project (Dari)</label>
                                    <select class="form-control select2" ng-model="vm.search.project_id_from" ng-select2 placeholder="Pilih Project">
                                        <option></option>
                                        <option ng-repeat="x in vm.projects" value="{{ (x.id) }}">{{ x.name }}</option>
                                    </select>    
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="exampleInputEmail1">Project (Ke)</label>
                                    <select class="form-control select2" ng-model="vm.search.project_id_to" ng-select2 placeholder="Pilih Project">
                                        <option></option>
                                        <option ng-repeat="x in vm.projects" value="{{ (x.id) }}">{{ x.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="exampleInputEmail1">Tgl (Dari)</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datepicker pull-right" id="tanggal" ng-datetime-picker ng-model="vm.search.date_from">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="exampleInputEmail1">Tgl (Ke)</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datepicker pull-right" id="tanggal" ng-datetime-picker ng-model="vm.search.date_to">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                <a ui-sref="transfer-pending({status_page: 'pending'})" class="btn btn-warning pull-left">Lihat Moderasi</a>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" ng-click="vm.search.keyword = ''; vm.doSearch()">Clear</button>
                                    <button type="submit" class="btn btn-primary">Cari</button> 
                                </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-body">
                        <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>No. Ref</th>
                                    <th>Proyek (dari) </th>
                                    <th>Proyek (ke)</th>
                                    <th>Tanggal </th>
                                    <th style="width: 200px" ng-if="main.ac.hasAccesses(vm.getPermission('detail'))">Action</th>
                                </tr>
                                <tr ng-repeat="x in vm.list">
                                    <td>{{ x.ref_no}}</td>
                                    <td>{{ x.project_from.name }}</td>
                                    <td>{{ x.project_to.name }}</td>
                                    <td>{{ x.created }}</td>
                                    <td class="text-center" ng-if="main.ac.hasAccesses(vm.getPermission('detail'))">
                                        <div ng-if="vm.listPending == false">
                                            <a class="btn btn-warning" ui-sref="transfer-detail({id : x.id})" ng-if="main.ac.hasAccess('transfer_detail')">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <button ng-if="main.ac.hasAccess('transfer_delete')" class="btn btn-danger" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="vm.delete(x.id)"><i class="fa fa-trash"></i></button>
                                        </div>
                                        <div ng-if="vm.listPending == true" ng-if="main.ac.hasAccess('transfer_change_status')">
                                            <button type="button" class="btn btn-success" ng-class="{'disabled': vm.ls.get('loading-' + x.id).get()}" ng-click="vm.setApproved(x.id)">Terima</button>
                                            <button type="button" class="btn btn-danger" ng-class="{'disabled': vm.ls.get('loading-' + x.id).get()}" ng-click="vm.setDeclined(x.id)">Tolak</button>
                                            <a ng-if="main.ac.hasAccess('transfer_detail')" class="btn btn-warning" ui-sref="transfer-detail({id : x.id})">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <i class="fa fa-refresh fa-spin" ng-show="vm.ls.get('loading-' + x.id).get()"></i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <paging current-page="vm.paginator.current_page" last-page="vm.paginator.last_page" show-page="vm.showPage(page)"></paging>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->